body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.search-field {
  width: 400px;
  border: 2px solid gray;
  border-radius: 10px;
  margin:50px auto;
}
.search-field:hover {
  border: 2px solid steelblue;
  border-radius: 10px;
}
.search-box {
  width: 300px;
  height: 28px;
  margin-left: 5px;
  border:none;
  outline: none;
}
#search-btn {
  margin-left:18.75px;
  border: none;
  outline: none;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 280px;
  border: 3px solid gray;
  padding: 10px;
  box-shadow: 5px 5px 20px gray;
  border-radius: 5px;
  margin-right: 10px;
  position: fixed;
}
/* .cart-main {
  padding-right: 10px;
} */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
